# Virtual Environment
.venv/
venv/
ENV/
env/

# Bytecode & Python Cache
__pycache__/
*.py[cod]
*$py.class

# Secrets & Authentication
.env
*.env
credentials.json
token.json

# Local user runtime data
data/*
!data/.gitkeep

# Temporary / Generated Media
screenshot_*.png

# Operating System Files
.DS_Store
Thumbs.db
